.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navheading {
    font-weight: 300;
    font-family: "Urbanist", serif;
    margin-inline: 10px;
    text-decoration: none;
    color: black;
}

#Section1 {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255)),
        url('./../media/1SecBg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
}

.blur-gradient {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background: conic-gradient(rgb(255, 255, 255) 0deg 70deg,
            rgba(95, 188, 255, 0.6) 70deg 200deg,
            rgba(57, 167, 255, 0.7) 200deg 360deg); */
    background: conic-gradient(rgba(57, 167, 255, 0.9) 0deg 160deg,
            rgba(95, 188, 255, 0.6) 160deg 300deg,
            rgb(255, 255, 255) 300deg 360deg);
    filter: blur(100px);
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.content {
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    color: black;
    text-align: center;
}

.content h1 {
    font-size: 65px;
    background: linear-gradient(to right, #000000, #000000, #ffffff, #ffffff, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Urbanist", serif;
    font-weight: 600;
    line-height: 0.8;
    margin-block: 15px;
}

.content p {
    font-family: "Urbanist", serif;
    font-weight: 400;
}

.content a {
    margin-top: 20px;
    font-family: "Urbanist", serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(48, 55, 62, 1) 50%, rgba(0, 0, 0, 1) 100%);
    padding: 14px;
    padding-inline: 22px;
}

.content a:hover {
    color: #ffffff;
    background: radial-gradient(circle, rgba(48, 55, 62, 1) 0%, rgb(0, 0, 0) 50%, rgba(48, 55, 62, 1) 100%);
}

#section2 {
    margin-top: 7rem;
}

#section2 h6 {
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 12px;
    color: rgba(48, 55, 62, 1);
    margin-bottom: 23px;
}

#section2 h4 {
    font-family: "Urbanist", serif;
    font-weight: 500;
    line-height: 1.3;
}

#section2 h4 span {
    color: rgba(57, 167, 255, 1);
}

.tapered-line-hotizontal {
    width: 100%;
    height: 20px;
    background: #555;
    clip-path: polygon(50% 71%, 100% 72%, 49% 73%, 0 72%);
}

.tapered-line-vertical {
    height: 100%;
    background: #555;
    clip-path: polygon(47% 28%, 48% 49%, 47% 71%, 46% 50%);
}

#section2 h1{
    font-family: "Urbanist", serif;
    font-weight: 600;
    font-size: 70px;
    color: rgba(57, 167, 255, 1);
}

#section2 p{
    font-family: "Inter", serif;
    font-weight: 300;
    font-size: 13px;
    color: rgba(23, 23, 23, 1);
}